*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(236, 236, 236);
}
/* Nav */
.nav-container{
    width: 100%;
    background-color: rgb(33,35,41);
}
.navbar{
    display:grid;
    grid-template-columns: 0fr auto 0.5fr;
    align-items: center;
    height: 105px;
    width: 90%;
    margin: 0 auto;
}
.navbar a img{
    justify-self: start;
    margin-left: 0px;
    width:120px;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    list-style:none;
    text-align: center;
    width: 70%;
    justify-self: end;
}
.nav-links{
    color:white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links:hover{
    color:rgb(259,149,3);
    transition: all 0.2 ease-out;
}
.nav-links-btn{
    background-color: rgb(259,149,3);
    padding: 6px 16px;
    border-radius: 4px;
}
.nav-links-btn:hover{
    background-color: transparent;
    color:white;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px rgb(259,149,3);
    transition: all 0.3s ease-out;
}
.menu-toggle .menubar{
    width:25px;
    height:3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}
.bar{
    background-color: rgb(259,149,3);
    height: 10px;
    width: 100%;
    box-shadow: inset 0px 2px 4px 1px rgb(33,35,41);
}
.middleimg{
    box-sizing: border-box;
    background-image: linear-gradient(rgb(33,35,41,0.4),rgb(236, 236, 236));
}
.middleimg img{
    width: 40%;
    margin-left:26%;
}
.middleimg .text{
    box-sizing: border-box;
    position: absolute;
    margin-left: 25%;
    margin-top: 3%;
    font-size: 28px;
}
.middleimg .text p{
    position: absolute;
    margin-left: 80%;
    width: 150%;
    font-size: 28px;
}
/* Home Page */
.out-container{
    box-sizing: border-box;
    text-align: left;
    margin-left: 30%;
}
.mission h2{
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 30px;
}
.mission p{
    max-width: 45%;
    margin-bottom: 3%;
    font-size: 18px;
}
.why h2{
    margin-bottom: 1%;
    font-size: 30px;
}
.why ul li{
    display: inline-flex;
    margin-bottom: 2%;
    list-style: none;
    font-size: 18px;
}
.why i{
    padding-right: 1%;
}
/* Second half of home page */
.home a, .home2 a{
    text-decoration: none;
}
.home h2, .home h3{
    margin-left: 10%;
    margin-bottom: -7%;
    margin-top: 10%;
    font-size: 20px;
}
.home h2{
    font-size: 30px;
}
.home h3{
    margin-bottom: -10%;
    margin-top: 12%;
}
.homeabout, .homeservices{
    display: flex;
}
.homeabout p{
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 12%;
    font-size: 20px;
}
.homeabout img{
    width:52%;
    border-radius: 2px;
}
.read1 {
    position:relative;
    display: flex;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(236, 236, 236);
    margin-left: 40%;
    margin-top: -12%;
  }
  .read1 .button_text,
  .read1 .button_icon,
  .read2 .button_text,
  .read2 .button_icon{
    display: inline-flex;
    align-items: center;
    padding: 8px;
    color: rgb(33,35,41);
    height: 100%;
    font-size: 18px;
    transition: margin 0.25s ease-out;
  }
  .read1 .button_icon,
  .read2 .button_icon {
    font-size: 1.5em;
    background-color:rgb(236, 236, 236);
    padding-left: 10%;
  }
  .button_text:hover + .button_icon, .button_icon:hover{
    margin-left:-10%;
  }
  .read1:after, .read2:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: rgb(33,35,41);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  .read1:hover:after, .read2:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.home2 h2, .home2 h3{
    margin-left: 60%;
    margin-bottom: -7%;
    margin-top: 10%;
    font-size: 20px;
}
.home2 h2{
    font-size: 30px;
    margin-top: 15%;
}
.home2 h3{
    margin-bottom: -10%;
    margin-top: 12%;
}
.homeservices img{
    width:50%;
    border-radius: 2px;
    margin-bottom: 10%;
}
.homeservices p{
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 12%;
    font-size: 20px;
}
.read2 {
    position:relative;
    display: flex;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(236, 236, 236);
    margin-left: 86%;
    margin-top: -14%;
  }
/* About Us page */
.about{
    text-align: left;
    margin-left: 30%;
    max-width: 40%;
}
.about h2{
    margin-top: 8%;
    margin-bottom: 3%;
    font-size: 30px;
}
.about p{
    font-size: 18px;
    margin-bottom: 2%;
}
.about ul{
    margin-bottom: 5%;
}
.about ul li{
    list-style: none;
    display: inline-flex;
    margin-bottom: 2%;
    list-style: none;
    font-size: 18px;
}
.about i{
    padding-right: 1%;
}
/* clients */
.clients{
    text-align: left;
    margin-left: 30%;
    max-width: 40%;
}
.clients h2{
    margin-top: 8%;
    margin-bottom: 3%;
    font-size: 30px;
}
.clients p{
    font-size: 19px;
    margin-bottom: 4%;
}
.clients ul{
    margin-bottom: 5%;
    margin-top: 5%;
}
.clients ul li{
    list-style: none;
    display: inline-flex;
    margin-bottom: 2%;
    list-style: none;
    font-size: 19px;
}
.clients ion-icon{
    padding-right: 2%;
}
/* Services */
.services{
    text-align: left;
    margin-left: 30%;
    max-width: 40%;
}
.services h2{
    margin-top: 8%;
    margin-bottom: 3%;
    font-size: 30px;
}
.services h3{
    margin-bottom: 5%;
}
.services p{
    font-size: 19px;
}
.services ul{
    margin-bottom: 5%;
    margin-top: 5%;
}
.services ul li{
    list-style: none;
    margin-bottom: 2%;
    list-style: none;
    font-size: 19px;
}
.services ion-icon{
    padding-right: 2%;
    margin-left: -6%;
    margin-bottom: -4%;
    font-size: 30px;
}
/* Contact Page */
.contact{
    width: 85%;
    margin:auto;
    margin-top: 100px;
}
.contact h2{
    margin: 5% 0% 1% 0%;
    font-size: 35px;
}
.contact p{
    margin-bottom: 2%;
    font-size: 18px;
    width:40%;
}
.contact-box{
    display:flex;
    margin-bottom: 100px;
}
.contactForm{
    flex-basis: 50%;
}
.contactForm h3{
    font-size: 25px;
    margin-top: 3%;
}
.location{
    flex-basis: 50%;
    margin-left: 12%;
}
.location iframe{
    border-radius: 5px;
    width: 100%;
}
.location p{
    margin-top: 50px;
    font-size: 18px;
}
.contactForm h3{
    text-align: left;
    margin-bottom: 20px;
}
.location h2{
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
}
.contactForm .input-row{
    display:flex;
    justify-content: space-between;
    margin-bottom:2%;
    padding: 2%;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    background:rgb(237, 237, 237);
    font-size: 15px;
    border-radius: 3px;
}
.contactForm textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    background:rgb(237, 237, 237);
    font-size: 15px;
    border-radius: 3px;
    margin-left: 2%;
}
label{
    margin-bottom: 6px;
    display:block;
    color: rgb(41, 51, 61);
    font-size: 18px;
    margin-left: 2%;
}
.input-group label{
    margin-left: 0%;
}
.submit{
    background:rgb(91, 91, 91);
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(122, 122, 122,0.3);
    transition: width 0.5s, box-shadow 0.5s;
}
.contact ul{
    margin-bottom: 3%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
}
.contact ul li{
    list-style: none;
    padding:20px 110px 0px 0px;
    font-size: 18px;
    font-weight: 500;
}
.submit:hover{
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.7);
    width:120px;
    height: 37px;
    transition: width 0.5s, box-shadow 0.5s, height 0.5s;
}
/* Footer */
.footer-basic {
    padding:40px 0;
    background-color:rgb(33,35,41);
    color:white;
    margin-top: 10%;
    padding-bottom: 2%;
  }
  .footer-basic img{
    position: absolute;
    width: 7%;
    margin-left: 6%;
    margin-top:-1%;
  }
.footer-basic ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    margin-bottom:0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
.footer-basic li {
    padding:0 10px;
  }
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.9;
    font-size: 18px;
  }
.footer-basic ul a:hover {
    color:rgb(259,149,3);
  }
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
    font-size: 15px;
  }
/* Mobile Setting */
@media screen and (max-width:1400px) {
    /* Interactive navigation */
    .nav-container{
        position: relative;
    }
    .nav-menu{
        display:grid;
        grid-template-columns: auto;
        background: rgb(259,149,3);
        margin:0;
        width:100%;
        position:absolute;
        top:80px;
        left:-100%;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 2;
    }
    .navbar a img{
        margin-left: 20px;
    }
    .nav-menu.active{
        background: rgb(33,35,41);
        left: 0;
        opacity:1;
        transition: all 0.5s ease;
    }

    .nav-links{
        text-align:center;
        line-height:60px;
        width:100%;
        display: table;
    }
    .nav-links:hover{
        background-color: rgb(259,149,3);
        color: white;
        transition: all 0.3s ease-out;
    }

    .navbar{
        width:100%;
    }

    .nav-links-btn{
        border:none;
        padding: 0;
        border-radius: 0;
        background-color: gray;
        color: white;
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border:none;
        padding: 0;
        border-radius: 0;
        background-color: rgb(259,149,3);
        color: white;
        transition: all 0.4s ease-out;
    }
    #mobile-menu{
        position: absolute;
        top:20%;
        right:5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .menubar{
        display:block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor:pointer;
    }

    #mobile-menu.is-active .menubar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .menubar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .menubar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /*Interactive contact page*/
    .contact-box{
        flex-direction: column;
    }
    .location{
        margin-left: 0%;
    }
    .contact h2, .contact p{
        text-align: center;
        width: 100%;
    }
    .contact ul{
        width: 100%;
    }
    .middleimg img{
        width: 60%;
        margin-left:15%;
    }
    .middleimg .text{
        box-sizing: border-box;
        margin-left: 4%;
        margin-top: 3%;
        font-size: 14px;
        z-index: 1;
    }
    .middleimg .text p{
        font-size: 18px;
        margin-left: 30%;
    }
    /* Home Page */
    .out-container{
        margin-left: 10%;
    }
    .mission h2{
        margin-top: 5%;
        margin-bottom: 1%;
        font-size: 26px;
    }
    .mission p{
        max-width: 90%;
        margin-bottom: 3%;
        font-size: 16px;
    }
    .why h2{
        font-size: 26px;
    }
    .why ul li{
        display: inline-flex;
        margin-bottom: 3%;
        list-style: none;
        max-width: 90%;
        font-size: 16px;
    }
    .homeabout{
        display: flex;
        flex-direction: column;
    }
    .homeservices{
        display: flex;
        flex-direction: column-reverse;
    }
    .homeabout img{
        width:90%;
        margin-top: 15%;
    }
    .read1{
        margin-left: 60%;
        margin-top: -80%;
        margin-bottom: 90%;
    }
    .homeservices img{
        width: 90%;
        margin-left: 10%;
        margin-top: 15%;
    }
    .home2 h2, .home2 h3{
        margin-left: 10%;
        margin-bottom: -10%;
        font-size: 20px;
    }
    .home2 h2{
        font-size: 30px;
        margin-top: 15%;
    }
    .home2 h3{
        margin-bottom: -10%;
        margin-top: 17%;
    }
    .read2{
        position: absolute;
        margin-left: 60%;
        margin-top:-72%;
    }
    .footer-basic {
        margin-top: 20%;
        padding-top: 15%;
      }
    .footer-basic img{
        width: 14%;
        margin-left: 43%;
        margin-top:-15%;
      }
    .footer-basic ul a{
        font-size: 14px;
    }
      /* About us page*/
    .about{
        margin-left: 10%;
        max-width: 80%;
    }
    .about ul li{
        display: inline-flex;
        margin-bottom: 3%;
        list-style: none;
        max-width: 90%;
    }
    .about h2{
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 30px;
    }
    /* Clients page */
    .clients{
        margin-left: 10%;
        max-width: 80%;
    }
    .clients ul li{
        display: inline-flex;
        margin-bottom: 3%;
        list-style: none;
        max-width: 90%;
    }
    .clients h2{
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 30px;
    }
    /*Services page*/
    .services{
        margin-left: 15%;
        max-width: 75%;
    }
    .services h2{
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 30px;
    }
    .services ion-icon{
        padding-right: 2%;
        margin-left: -11%;
        margin-bottom: -8%;
    }
}
@media screen and (min-width:2000px) {
    .homeabout img{
        width:110%;
        border-radius: 2px;
    }
    .footer-basic{
        padding-bottom: 3%;
    }
    .services ion-icon{
        padding-right: 2%;
        margin-left: -3%;
        margin-bottom: -2%;
    }
}